@import '../../assets/scss/settings.scss';

.popular {
    position: relative;
    width: 100%;
    top: 0rem;
    padding: 0 6rem;
    margin: 5rem 0;

    h2 {
        @include font-size(20);
        font-weight: 700;
        margin-bottom: 1.3rem;
    }

    .popular__movies {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        .cards {
            .card--data {
                bottom: unset;
                top: 75%;
                transform-origin: top center;
                width: 80%;

                h4 {
                    @include font-size(18);
                    margin-bottom: 0.5rem;
                }

                p {
                    @include font-size(12);
                }
            }

            .card--item--play {
                top: 63%;
                left: 0.5rem;
                transform: translate(0, 0);
            }

            .card--item--logo,
            .card--item--add {
                display: none;
            }

            .card--item--like {
                top: 75%;
                z-index: 10;
                svg {
                    width: 30px;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .popular {
        padding: 0 4rem;

        .popular__movies {
            flex-wrap: wrap;
        }

        .cards {
            width: calc(100% / 2 - 1rem);
        }
    }
}

@media (max-width: 720px) {
    .popular {
        padding: 0 2rem;

        .cards {
            margin-bottom: 1rem;
        }
    }
}
