@import '../../assets/scss/settings.scss';

.header,
.header__menu ul,
.header__links ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.header {
    padding: 1rem 6rem;
    gap: 1.5rem;
}

.header__links {
    margin-left: auto;
}
