@import '../../assets/scss/settings.scss';

.header,
.header__menu ul,
.header__links ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.header {
    position: fixed;
    width: 100%;
    padding: 1rem 6rem;
    gap: 1.5rem;
    z-index: 10;
    background: transparent;
    background: -webkit-linear-gradient(to bottom, transparentize($black, 0.6), transparent);
    background: linear-gradient(to bottom, transparentize($black, 0.6), transparent);
}

.header__links {
    margin-left: auto;
}
