@import '../../assets/scss/settings.scss';

.comingSoon {
    position: relative;
    width: 100%;
    top: 0rem;
    padding: 0 6rem;
    margin-top: -10rem;

    h2 {
        @include font-size(20);
        font-weight: 700;
        margin-bottom: 1.3rem;
    }

    .comingSoon__movies {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width: 1000px) {
    .comingSoon {
        margin-top: auto;
        padding: 0 4rem;

        .comingSoon__movies {
            flex-wrap: wrap;
        }

        .comingSoon__movies--item {
            width: calc(100% / 2 - 2rem);
        }
    }
}

@media (max-width: 720px) {
    .comingSoon {
        padding: 0 2rem;

        .comingSoon__movies--item {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}
