@import '../../assets/scss/settings.scss';

.myMovies,
.comingSoon {
    position: relative;
    width: 100%;
    top: 0rem;
    padding: 0 6rem;
    margin-top: -10rem;

    h2 {
        @include font-size(20);
        font-weight: 700;
        margin-bottom: 1.3rem;
    }

    .comingSoon__movies {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
}

.myMovies {
    margin-top: auto;
    margin-bottom: 3rem;

    .comingSoon__movies {
        flex-wrap: wrap;
    }

    .cards {
        max-width: calc(100% / 4 - 2rem);

        button,
        #LiteflixLogo {
            display: none;
        }
    }
}

@media (max-width: 1000px) {
    .myMovies,
    .comingSoon {
        margin-top: auto;
        padding: 0 4rem;

        .comingSoon__movies {
            flex-wrap: wrap;
        }

        .cards {
            width: calc(100% / 2 - 2rem);
        }
    }

    .myMovies {
        .cards {
            max-width: 100%;
        }
    }
}

@media (max-width: 720px) {
    .myMovies,
    .comingSoon {
        padding: 0 2rem;

        .cards {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}
